.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
  max-width: 1200px;
  padding:0;
}

.products-container-d{
  display:none;
}

@media (min-width:64em){
  .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
    margin:0 auto
  }
  .products-container{
    display:none;
  }
  .products-container-d{
    display:block;
    width:100%;
  }
}
