.footer-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:4% 4%;
  background-image: linear-gradient(to right, var(--purple2), var(--fucsia), var(--pink));
  color:var(--white);
  h2{
    font-size:1.8rem;
    font-weight:300;
  }
  .footer-social-container{
    display:flex;
    flex-direction:row;
    width:50%;
    justify-content:space-between;
    align-items: center;
    padding:5% 5%;

    .footer-link{
      display:flex;
      text-decoration: none;
      color:var(--white);
      font-size: 2rem;
      opacity:0.7;
    }:hover{
      opacity:1;
    }
  }
  p{
    font-weight:300;
    margin:30px 0;
  }
}

@media (min-width:48em){
  .footer-container h2{
   font-size: 2.2rem;
  }
  .footer-social-container a{
    font-size: 2rem;
  }

}
.footer-container a img{
  height:60px;
  width: 100%;
}
.footer-container p{
  font-size:1.2rem;
}
.footer-container .footer-social-container .footer-link{
  font-size:2.8rem;
}
@media (min-width:64em){
  .footer-container h2{
    font-size:2.6rem;
  }
  .footer-social-container a{
    font-size: 3rem;
  }
  .footer-container a img{
    height:80px;
    width: 100%;
  }
  .footer-container p{
    font-size:1.8rem;
  }
  .footer-container .footer-social-container .footer-link{
    font-size: 4.4rem;
  }
}


