<footer class="container-fluid footer-container">
  <h2>Follow us!</h2>
  <div class="footer-social-container">
    <a href="/" class="footer-link">
      <fa-icon [icon]="faInstagramSquare"></fa-icon>
    </a>
    <a href="/" class="footer-link">
      <fa-icon [icon]="faFacebookSquare"></fa-icon>

    </a>
    <a href="/" class="footer-link">
      <fa-icon [icon]="faTwitterSquare"></fa-icon>

    </a>
    <a href="/" class="footer-link">
      <fa-icon [icon]="faYoutubeSquare"></fa-icon>
    </a>
  </div>
  <a href="/"><img src="../../../assets/img/vo-footer-logo.svg" alt="VexOutlet Logo"></a>
  <p>Copyright by <br> José Ángel González</p>
</footer>



