<header id="header">
  <!-- sidemenu -->
  <div id="mySideMenu" class="sidemenu">
    <div class="sidemenu-header">
      <a href="/">
        <img src="../../../assets/img/vexo-sidemenu-logo.svg" alt="Vex Outlet logo">
      </a>
      <h1>Welcome</h1>
    </div>
    <div class="sidemenu-close-icon">
      <fa-icon [icon]="faXmark" (click)="closeSidemenu()"></fa-icon>
    </div>
    <ul  class="sidemenu-items">
      <li>
        <a href="/cart">Cart
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </a>
      </li>
      <li>
        <a href="/liked">Liked
          <fa-icon [icon]="faHeart"></fa-icon>
        </a>
      </li>
      <li>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Languages
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">English
                <img src="../../../assets/img/us-icon.png" alt="US">
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Spanish
                <img src="../../../assets/img/es-icon.png" alt="ES">
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="sidemenu-footer">
      <div class="support-icon">
        <a href="/support"><fa-icon [icon]="faCircleQuestion" ngbTooltip="Need help?" placement="top"></fa-icon></a>
      </div>
      <p>Copyright ⒸVexOutlet<br>
        José Ángel González<br>
        2022</p>
    </div>
  </div>
  <!--  -->
  <div class="header-container">
      <button class="btn" (click)="openSidemenu()">
        <img src="../../../assets/img/menu-icon.svg">
      </button>
    <a href="/"><img src="../../../assets/img/vexoutlet-logo.svg" alt="Vex Outlet logo"></a>
    <a href="/notifications"><fa-icon [icon] = "faBell" class="bell-icon" ngbTooltip="You don't have any notifications" placement="start"></fa-icon></a>
  </div>
</header>
<!--Navigation -- NgFor pending, get rid of all that html -->
<nav>
  <ul>
      <li class="nav-item current">
          <fa-icon [icon] = "faHouse" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
          <a href="/">Home</a>
      </li>
      <li class="nav-item">
          <fa-icon [icon] = "faList" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
          <a href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <fa-icon [icon] = "faMagnifyingGlass" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
        <a class="" role="button" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Search
        </a>
      </li>
      <li class="nav-item">
          <fa-icon [icon] = "faUser" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
          <a href="/account">Account</a>
      </li>
  </ul>
</nav>
<div class="collapse" id="collapseExample">
  <form class="d-flex">
    <input class="form-control me-2" id="search-input" type="search" placeholder="What are you looking for?" aria-label="Search">
    <button class="btn search-btn" type="submit">Search <fa-icon [icon] = "faMagnifyingGlass" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon></button>
  </form>
</div>
<!-- sticky nav pending -->
