<header id="header">
  <div class="container-fluid header-container">
    <h1><a href="/"><span>Vex</span>Outlet</a></h1>
    <a href="/notifications"><fa-icon [icon] = "faBell" class="bell-icon"></fa-icon></a>
  </div>
</header>
<nav>
  <ul>
      <li class="nav-item current">
          <fa-icon [icon] = "faHouse" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
          <a href="/">Home</a>
      </li>
      <li class="nav-item">
          <fa-icon [icon] = "faList" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
          <a href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <fa-icon [icon] = "faMagnifyingGlass" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
        <a class="" role="button" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Search
        </a>
      </li>
      <li class="nav-item">
          <fa-icon [icon] = "faUser" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon>
          <a href="/account">Account</a>
      </li>
  </ul>
</nav>
<div class="collapse" id="collapseExample">
  <form class="d-flex">
    <input class="form-control me-2" id="search-input" type="search" placeholder="Search" aria-label="Search">
    <button class="btn search-btn" type="submit">Search <fa-icon [icon] = "faMagnifyingGlass" class="nav-icons" [class.active]="isActive"(click)="toggleActive()"></fa-icon></button>
  </form>
</div>
<!-- sticky nav pending -->
