#header{
  padding: 10px;
  background-image: linear-gradient(to right,var(--pink),var(--fucsia),var(--purple2));
  .sidemenu{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image:linear-gradient(to bottom, var(--pink),var(--fucsia),var(--purple2));
    transition: 0.4s;
    box-shadow:0;
    h1{
      font-size: 2.8rem;
      font-weight:300;
    }
    .sidemenu-header{
      display:flex;
      flex-direction: column;
      text-align: center;
      margin:40px 0;
    }
    .sidemenu-close-icon{
      position: absolute;
      top:10px;
      right:20px;
      font-size:1.4rem;
      color:var(--white);
      cursor: pointer;
      opacity:.7;
    }:hover{
      opacity:1;
    }
    .sidemenu-items{
      list-style: none;
      li{
        width:90%;
        padding:5px 0;
        border-bottom:1px solid rgba(255, 255, 255, 0.275);
        .dropdown{
          .dropdown-menu{
            a{
              display: block;
              color:var(--black);
            }
            img{
              height:14px;
              width: 14px;
            }
          }
        }
        a{
          text-decoration: none;
          font-size: 1.4rem;
          font-weight:300;
          color:var(--white);
          opacity: 0.7;
        }:hover{
          opacity:1;
        }
      }
    }
    .sidemenu-footer{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding:10px;
      margin-top:360px;
      .support-icon{
        font-size: 1.6rem;
        margin-bottom: 10px;
        a{
          text-decoration:none;
          cursor: pointer;
          color:var(--white);
          opacity: 0.7;
        }:hover{
          opacity:1;
        }
      }
      p{
        font-size:1.2rem;
      }
    }
  }
  .dark-overlay{
    box-shadow:0 0 0 10000px rgba(0, 0, 0, 0.725);
  }
  .header-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    width:100%;
    .btn{
      display:flex;
      height:12px;
      width: 12px;
      border:0;
      padding:0;
      margin:0;
      img{
        height: 100%;
        width: 100%;
      }
    }
    a{
      display:inline-block;
      font-size: 1.2rem;
      .bell-icon{
        display:block;
        height:16px;
        color:var(--white);
      }:hover{
        color:var(--lightergrey);
      }
    }
  }
}


nav{
  height:auto;
  width:100%;
  padding:3% 4%;
  background-color:var(--black);
  ul{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    list-style:none;
    margin:0;
    padding:0;
    .nav-item{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      font-size:1.2rem;
      a{
        text-decoration:none;
        font-size:1.2rem;
        color:var(--lightergrey);
      }
    }
    .current fa-icon, .current a{
      color:var(--fucsia);
    }
    .nav-icons{
      display:flex;
      margin:0;
      font-size:1.2rem;
      color:#a4a4a4;
    }:hover{
      cursor:pointer;
      color:var(--fucsia);
    }
    .active{
      color:var(--fucsia);
    }
  }
}
#search-input{
  max-height: 40px;
  margin:0 !important;
  border-radius: 0;
}
.search-btn{
  max-height: 40px;
  display:flex;
  align-items: center;
  border-radius:0;
  padding:3% 4%;
  background-color: var(--lila);
  fa-icon{
    display:flex;
    margin-left:5px;
  }
}

@media(min-width:48em){
  #header{
    .sidemenu{
      .sidemenu-header{
        a{
          img{
            height:14px;
            width:20%;
          }
        }
        h1{
          font-size:3.4rem;
        }
      }
      .sidemenu-items{
        li{
          a{
            font-size:1.6rem;
          }
        }
      }
    }
    .header-container{
      min-height:40px;
      padding:0 5%;
      .btn{
          height:16px;
          width:16px;
      }
      a{
        display:inline-block;
        font-size:1.6rem;
        .bell-icon{
          display:block;
          height:16px;
          color:var(--white);
        }:hover{
          color:var(--lightergrey);
        }
      }
    }
  }
  nav{
    padding:1% 2%;
  }
  nav ul .nav-item{
    a{
      font-size:1.6rem;
    }
  }
  nav ul .nav-icons{
    font-size:1.6rem;
  }
  #search-input{
    font-size: 1.2rem;
  }
  .search-btn{
    padding:2%;
    font-size:1.2rem;
  }
}

@media (min-width:64em){
  #header img{
  height:22px;
  }
  nav{
    padding:1% 2%;
  }
  nav ul .nav-item{
    flex-direction: row;
  }
  nav ul .nav-icons{
    margin-right:7px;
  }
  #search-input{
    font-size: 1.4rem;
  }
  .search-btn{
    padding:1%;
    font-size:1.4rem;
  }
}
