.hero-container{
  max-width: 1200px;
    // min-width: 320px;
    // margin-bottom:30px;
    width:100%;
  .picsum-img-wrapper img{
    height:100%;
    min-height:114px;
    width:100%;
    // background-image: url("../../../assets/img/home-hero.jpg");
    // background-size: cover;
    // background-repeat:no-repeat;
  }
  // .carousel-inner{
  //     height: 114px;
  // }
  .carousel-caption{
      text-align: left;
      padding:0 0 50px;
      h5{
        font-size:1.8rem;
        font-weight:300;
        letter-spacing:1.2px;
      }
      a{
        text-decoration: none;
        font-size:1rem;
        color:var(--purple2);
        transition:.4s;
      }
      a:hover{
        text-decoration:none;
        color:var(--fucsia);
      }
  }
}

@media (min-width:48em){
  .hero-container .carousel-caption{
    padding:0 0 80px;
    h5{
      font-size:2.4rem;
    }
    a{
      font-size:1.4rem;
    }
  }
}

@media (min-width:64em){
  .hero-container{
    margin:0 auto;
  }
  .hero-container .carousel-caption{
    padding:0 0 140px;
    h5{
      font-size:2.8rem;
    }
    a{
      font-size:1.8rem;
    }
  }
}

