.product-card{
  min-height:355px;
  display:flex;
  position:relative;
  flex-direction: column;
  justify-content: left;
  height:auto;
  width: 100%;
  img{
    height:180px;
    width:100%;
    margin:0;
  }
  .discount-container{
    display:none;
    position:absolute;
    top:40px;
    height: auto;
    width:30%;
    justify-content:center;
    align-items:center;
    text-align: center;
    border-radius:0 25px 25px 0;
    padding:3% 5%;
    background-image: linear-gradient(to right,var(--pink),var(--fucsia),var(--purple2));
    p{
      font-size:1.4rem;
      font-weight:500;
      color:var(--white);
      margin:0;
    }
  }
  .show{
    display:flex;
  }
  .rating-container{
    padding:3% 2%;
    font-size:0.8rem;
    //   cursor:pointer;
    // }
    a{
      text-decoration:none;
      font-size: 1.4rem;
      color:var(--pink);
    }
    .noRating{
      color:var(--phantomgrey);
      font-size: 1rem;
    }
  }
  .product-info-container{
    display:flex;
    min-height:8.6rem;
    flex-direction: column;
    padding:3% 2%;
    .product-name{
      min-height: 3.6rem;
      text-decoration: none;
      font-size:1.2rem;
      color:var(--lightgrey);
      opacity:0.8;
      transition:0.15s;
    }
    .product-name:hover{
      opacity:1;
    }
    .product-price-container{
      display:flex;
      flex-direction:row;
      justify-content: left;
      align-items: center;
      margin-top:10px;
      .product-price{
        display:flex;
        font-size: 1.6rem;
        color:var(--lila);
      }
      .product-prevprice{
        display:none;
        margin-left:5px;
        font-size: 1rem;
        text-decoration: line-through;
        color:var(--lightgrey);
      }
      .showPrv{
        display:flex;
      }
    }
  }
  .favorite-container{
    display:flex;
    position:relative;
    right:calc(-65% - 10px);
    bottom:200px;
    justify-content:center;
    align-items: center;
    height:34px;
    width:34px;
    border-radius: 50%;
    background-color: var(--white);
    font-size: 1.4rem;
    fa-icon{
     color:var(--phantomgrey);
    }:hover{
      cursor:pointer;
      color:var(--pink);
    }
    .active{
      color:var(--pink);
    }
  }
  button{
    border:0;
    border-radius: 25px;
    margin:0 14px;
    padding:3% 4%;
    font-size: 1.4rem;
    font-weight:300;
    color:var(--white);
    background-color:var(--purple);
    opacity:0.8;
    transition: 0.3s;
  }:hover{
    opacity:1;
  }
  .details-btn{
    border:none;
    background-color: transparent;
    font-size:1.2rem;
    font-weight:300;
    color:var(--lightgrey);
    margin:0 0 5px;
  }
}
@media (min-width:48em){
  .product-card .favorite-container{
    right:calc(-65% - 10px);
    bottom:205px;
  }
}
@media (min-width:64em){
  .product-card .product-info-container .product-name{
    font-size:1.6rem;
  }
  .product-card .product-info-container .product-name{
    min-height:72px;
  }
  .product-card .product-info-container .product-price-container .product-price{
    font-size: 2rem;
  }
  .product-card .favorite-container{
    right:calc(-70% - 10px);
    bottom: 250px;;
  }

}

