<div class="product-card">
  <div class="discount-container">
    <p>-{{product.discount}}%</p>
  </div>
  <img [src]="product.img" class="product-img">
  <!-- this is temporary -->
  <div class="rating-container">
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
  </div>
  <div class="product-info-container">
    <a href="/" class="product-name">{{product.title}}</a>
    <div class="product-price-container">
      <p class="product-price">US${{product.price}}</p>
      <!-- <p class="product-prevprice">${{product.prevprice}}</p> -->
    </div>
  </div>
  <button (click)="addToCart()">Add to cart</button>
  <div class="favorite-container" >
    <fa-icon [icon]="faHeart" (click)="toggleClass()" [class.active]="filled"></fa-icon>
  </div>
</div>
