/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Work+Sans:wght@100;300;400;700&display=swap');

:root {
  /* colors */
  --pink:#FA5591;
  --fucsia:#DE4BCA;
  --lila:#D75FF5;
  --purple:#9A4BDE;
  --purple2:#7E55FA;
  --lightgrey: #acacac;
  --lightergrey:#e5e5e5;
  --phantomgrey:#464646;
  --deepergrey:#757575;
  --white:#FFFFFF;
  --black:#181818;
}

/* Globals */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: auto;
  width: 100%;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Work Sans', sans-serif !important;
  background-color: var(--black)!important;
  scroll-behavior: smooth;
  z-index:0;
}
p {
  margin: 0;
}
// grid gap reset
.g-0{
  --bs-gutter-x:0 !important;
}

// scrollbar
::-webkit-scrollbar {
  width: 5px;
  transition:0.2s;
}
::-webkit-scrollbar-track {
  background: var(--phantomgrey);
}
::-webkit-scrollbar-thumb {
  border-radius:0;
  background-image:linear-gradient(to bottom,var(--purple2), var(--fucsia), var(--pink));
  transition:0.5s;
}
// ::-webkit-scrollbar-thumb:hover {
//   // background: #DE4BCA;
// }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
